body {
  background: #eeeeee;
  font-family: 'Arial', sans-serif;
  margin: 0;
}

.sticky-header {
   position: sticky;
    top: 0;
    z-index: 1000;
    background: #ffffff;
    backdrop-filter: blur(10px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: #4f4f4f;
}

.sticky-header .container-fluid {
    padding: 0 1rem; 
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.company-name {
  font-size: 1.5em;
  color: #333;
}

#booksList {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  padding: 25px 0;
}

.book-item {
  width: 100%;
  max-width: 300px;
  position: relative;
}

.frosted-glass {
  background: rgba(255, 255, 255, 1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: transform 0.5s, box-shadow 0.5s;
    min-height: 310px;
    max-height: 310px;
    border-left: 5px solid #14a2b8;
    border-top: none;
    border-bottom: none;
}

.img-container {
  padding: 15px 15px 0 15px;
}

.frosted-glass:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  max-height: 185px;
  height: auto;
  border-radius: 8px;
}

.card-body {
  text-align: center;
    color: #333;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  text-overflow: ellipsis;
    overflow: hidden;
}

.card-subtitle {
  font-size: 1em;
  color: #666;
  text-overflow: ellipsis;
    overflow: hidden;
}

.card-text {
  font-size: 0.9em;
    background: rgb(20 162 184 / 20%);
    padding: 6px 0;
    color: #14a2b8;
    margin-bottom: 0;
    border-bottom-right-radius: 6px;
}

/* Modal Styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 10px;
}

.close {
    color: #aaa;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* No Books Message */
#noBooksMessage {
    font-size: 1.2em;
    color: #525252;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px);
}

.book-item .card-body .action-buttons {
  opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
    transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out, visibility 0.25s ease-in-out;
}

.book-item:hover .card-body .action-buttons {
  opacity: 1;
  visibility: visible; 
  background-color: rgba(0, 0, 0, 0.6); 
}

.action-buttons {
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 10px 30px;
    border-radius: 6px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.action-buttons i {
    margin-right: 15px;
}

.action-buttons p.card-text {
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    background: transparent;
}



#bookDetails {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-left: 5px solid #14a2b8;
}

#bookDetails .card-img-top {
    max-height: 400px;
    border-radius: 0;
}

.details-padding {
  padding: 25px 75px;
}

#bookDetails .card-text {
  font-size: 0.9em;
    padding: 6px 0;
    border-bottom-right-radius: 0;
}

.height-100 {
   height: 100%;
}

.detail-description {
  text-align: left;
  padding: 20px 30px;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.author-title-details {
  display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.description-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  line-height: 1.65em;
}